@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- Bottom info -->
<section class="bottom-info">
    <div class="container">
        <div class="content">
            <div class="content-header"><img src="./static/logotypes/logotype-white.svg">
                <p class="content-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid vitae repellat ullam minus, 
                    natus ducimus excepturi consequuntur consectetur quia quisquam, sunt doloribus!                     
                </p>                
            </div>
            
            <div class="content-header"><h2>Company</h2>
                <a href="/about" class="content-link">About</a>
                <a href="/features" class="content-link">Features</a>
                <a href="/works" class="content-link">Works</a>
                <a href="/career" class="content-link">Career</a>
            </div>
            <div class="content-header"><h2>Help</h2>
                <a href="/support" class="content-link">Customer Support</a>
                <a href="/delivery" class="content-link">Delivery Details</a>
                <a href="/terms" class="content-link">Terms & Conditions</a>
                <a href="/policy" class="content-link">Private Policy</a>
            </div>
            <div class="content-header"><h2>Resources</h2>
                <a href="/ebooks" class="content-link">Free eBooks</a>
                <a href="/tutorials/development-tutorial" class="content-link">Development Tutorial</a>
                <a href="/how-to-blog" class="content-link">How to - Blog</a>
                <a href="https://youtube.com" target="_blank" class="content-link">Youtube Playlist</a>
            </div>
            <div class="content-header"><h2>Link</h2>
                <a href="/ebooks" class="content-link">Free eBooks</a>
                <a href="/tutorials" class="content-link">Development Tutorial</a>
                <a href="/how-to-blog" class="content-link">How to - Blog</a>
                <a href="https://youtube.com" target="_blank" class="content-link">Youtube Playlist</a>
            </div>
        </div>
    </div>
</section>
