@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Breadcrumb -->
    <section class="breadcrumb">
    <div class="container">
        <div class="main-nav">
            <a href="/">Home</a>
        <a class="active" href="#">@Model.Value("pageTitle")</a>
        </div>
        <h1 class="big-titles">@Model.Value("pageTitle")</h1>        
    </div>
    <img src="./static//background-effects/background-lines.svg">
</section>