@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="choose-us">
    <div class="container">
        <div class="left-side">
            <p class="red-title">Why Choose Us</p>
            <h1>Why We Are The Best Business Consulting Agency</h1>
            <div class="usp">
                <i class="fa-light fa-thumbs-up"></i>
                <div class="usp-content">
                    <h3>Process Excellence</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="usp">
                <i class="fa-sharp fa-light fa-chart-radar"></i>
                <div class="usp-content">
                    <h3>Strategic Planning</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="usp">
                <i class="fa-light fa-compass-drafting"></i>
                <div class="usp-content">
                    <h3>Experience Design</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="usp">
                <i class="fa-light fa-head-side-gear"></i>
                <div class="usp-content">
                    <h3>Artificial Inteligence</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>

        <div class="right-side">
            <img class="image" src="./static/showcase-sliders/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" >
        </div>
    </div>

    <div class="tan-box"></div>





</section>
