@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-text"><i class="fa-regular fa-copyright"></i> 2023 Crito - Consulting Company Inc. All Rights Reserved.</div>
        <div class="social-media">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
