@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- Navbar -->
<section class="navbar-header">
    <header class="container main-header">
        <div class="top-row">
            <div class="contact-info">
                <p><i class="fa-light fa-phone-volume"></i> +46 (8) 4242564 | <i class="fa-regular fa-envelope-dot"></i>info@crito.com | <i class="fa-light fa-location-dot"></i>Sveavägen 31, 111 34 Stockholm</p>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="logo">
            <img src="./static/logotypes/logotype.svg" alt="Your Logo">
        </div>

        <div class="main-nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>

            <div class="theme-button">
                <button class="login">Login <i class="fa-light fa-arrow-up-right"></i></button>
            </div>
        </div>
    </header>
</section>