@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="global-project">
    <div class="container">
        <p class="red-title">Project & Case Studies</p>
        <div class="big-titles"><h1>@Model.Value("globalProjectsTitle")</h1></div>

        <div class="grid-collection-large">
            <div class="row">
                <div class="col-md-6">
                    <div class="gridbox-large">
                        <img src="./static/showcase-sliders/adeolu-eletu-E7RLgUjjazc-unsplash.jpg">
                        <div class="box-l-title">Grow your business</div>
                        <button class="white-button">Read More <i class="fa-light fa-arrow-up-right"></i></button>


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="gridbox-large">
                        <img src="./static/showcase-sliders/marek-levak-zANXcXyByos-unsplash.jpg">
                        <div class="box-l-title">Why your client needs a responsive website</div>
                        <button class="white-button">Read More <i class="fa-light fa-arrow-up-right"></i></button>


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="gridbox-large">
                        <img src="./static/showcase-sliders/oli-dale-xjSkI_seiZY-unsplash.jpg">
                        <div class="box-l-title">Educate your employees to get better results</div>
                        <button class="white-button">Read More <i class="fa-light fa-arrow-up-right"></i></button>


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="gridbox-large">
                        <img src="./static/showcase-sliders/carlos-muza-hpjSkU2UYSU-unsplash.jpg">
                        <div class="box-l-title">Business insights is a important piece of your business</div>
                        <button class="white-button">Read More <i class="fa-light fa-arrow-up-right"></i></button>


                    </div>
                </div>
            </div>
        </div>
        <div class="center-button">
        <button class="black-button">All Recent Projects<i class="fa-light fa-arrow-up-right"></i></button>
        </div>
    </div>
</section>