@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- Service Section-->
<section class="services" style="background-color:#F0EFE9 ;">
    <div class="services container">
        <p class="red-title">Our Services</p>
        <h1>We Provide The Best <br>Service For Consulting</h1>
        <div class="info-boxes">
            <div class="box">
                <i class="fa-solid fa-horizontal-rule"></i><h3>Business Advice</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ad voluptate?</p>
                <button class="circle-button"><i class="fa-light fa-arrow-right"></i></button>
            </div>

            <div class="box">
                <i class="fa-solid fa-horizontal-rule"></i><h3>Startup Business</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ad voluptate?</p>
                <button class="circle-button"><i class="fa-light fa-arrow-right"></i></button>
            </div>

            <div class="box">
                <i class="fa-solid fa-horizontal-rule"></i><h3>Financial Advice</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ad voluptate?</p>
                <button class="circle-button"><i class="fa-light fa-arrow-right"></i></button>
            </div>

            <div class="box">
                <i class="fa-solid fa-horizontal-rule"></i><h3>Risk Management</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ad voluptate?</p>
                <button class="circle-button"><i class="fa-light fa-arrow-right"></i></button>
            </div>
        </div>

        <div class="button">
            <button class="tan-button">Browse Services <i class="fa-light fa-arrow-up-right"></i></button>
        </div>
    </div>
</section>
