@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Signup -->
<section class="signup">
    <div class="container">
        <div class="big-titles"><h1>Get New Updates By Signup</h1></div>

        <div class="textandbutton-row">
            <div class="enter-mail"><p>username@domain.com</p></div>
            <div class="theme-button">
                <button class="login">Subscribe <i class="fa-light fa-arrow-up-right"></i></button>
            </div>
        </div>
    </div>
</section>