@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="our-team">
    <div class="container">
        <p class="red-title">Meet Our Team</p>
        <div class="textandbutton-row">
            <div class="big-titles"><h1>Experience Team Members</h1></div>
            <div class="login-button">
                <button class="white-button our-team">Browse Team<i class="fa-light fa-arrow-up-right"></i></button>
            </div>
        </div>


        <div class="members-grid">
            <div class="row">
                
                <!-- Member box start -->
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="./images/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg">                        
                        <div class="member-content">
                            <div class="member-name">Kristine Palmer</div>
                            <div class="member-title">Chef Operation Officer</div>                            
                        </div>
                    </div>
                </div>
                <!-- Member box end -->

                <!-- Member box start -->
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="./images/itay-verchik-6ZKGBzrDd3I-unsplash.jpg">                        
                        <div class="member-content">
                            <div class="member-name">Mark Aubri</div>
                            <div class="member-title">Senior Consultant</div>                            
                        </div>
                    </div>
                </div>
                <!-- Member box end -->

                <!-- Member box start -->
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="./images/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg">                        
                        <div class="member-content">
                            <div class="member-name">Kimberly Hansen</div>
                            <div class="member-title">Senior Consultant</div>                            
                        </div>
                    </div>
                </div>
                <!-- Member box end -->

                <!-- Member box start -->
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="./images/the-connected-narrative-N8lRH2uxih4-unsplash.jpg">                        
                        <div class="member-content">
                            <div class="member-name">Justin Willoman</div>
                            <div class="member-title">Senior Tech Consultant</div>                            
                        </div>
                    </div>
                </div>
                <!-- Member box end -->
                
                
            </div>    
        </div>
    </div>
</section>
