@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- Testemonials -->
<section class="testemonies">
    <div class="container">
        <p class="red-title">Testimonial</p>
        <div class="big-titles"><h1>What Our Client Says</h1></div>

        <div class="rating-boxes">
            <div class="r-box">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>                
                <p class="r-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="r-person">
                    <img src="./static/showcase-sliders/vince-veras-AJIqZDAUD7A-unsplash.jpg">
                    <h5>Cassandra Warren</h5>
                    <h6>Business Manager, Dorfus</h6>
                </div>
            </div>
            
            <div class="r-box"><i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>                
                <p class="r-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="r-person">
                    <img src="./static/showcase-sliders/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg">
                    <h5>Amanda Tulling</h5>
                    <h6>Senior Developer, Square</h6>
                </div>
            </div>
            
            <div class="r-box"><i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>                
                <p class="r-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="r-person">
                    <img src="./static/showcase-sliders/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg">
                    <h5>Jack McDogglas</h5>
                    <h6>Key Account Manager, Gobona</h6>
                </div>    
            </div>

        </div>

    </div>
</section>